* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
}

.img-logo {
    display: inline-block;
    margin-left: 27%;
}

.img-info {
    width: 100%;
}

.img-info h2 {
    padding: 30px 30px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    color: black;
    line-height: 44px;
}

.blog h2 {
    padding: 30px 30px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    color: black;
    line-height: 44px;
}

.blog p {
    padding: 0px 30px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: black;
    line-height: 24px;
}

.img-info p {
    padding: 0px 30px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: black;
    line-height: 24px;
}

.img-me {
    width: 100%;
    border: 5px solid black;
}

.button1 a {
    color: white;
    background-color: black;
    font-family: "Roboto", sans-serif;
    position: relative;
    padding: 11px;
    bottom: -10px;
    text-decoration: none;
    text-transform: uppercase;
}

.button a {
    background-color: black;
    position: relative;
    padding: 11px;
    color: white;
    font-family: "Roboto", sans-serif;
    bottom: -10px;
    text-transform: uppercase;
    text-decoration: none;
}

.main-nav {
    display: flex;
    padding: 30px 30px 30px 30px;
    justify-content: center;
}

.main-nav li {
    display: inline-block;
    padding: 10px 10px 10px 10px;
    list-style: none;
    border: 0.5px solid black;
}

.main-nav li a {
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    padding: 10px 10px 10px 10px;
}

label {
    display: block;
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    position: relative;
    padding: 0px 30px 20px;
    font-family: "Roboto", sans-serif;
    top: 100px;
}

input,
textarea {
    display: block;
    position: relative;
}

.submit {
    display: inline-block;
    border: 1px solid black;
    position: absolute;
    background-color: white;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
}

.btn1 {
    color: white;
    text-decoration: none;
    font-size: 20px;
    background-color: black;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    transition: all 0.5s ease-in;
    position: relative;
    left: 5%;
    top: 50px;
    padding: 10px 10px 10px 10px;
}

@media only screen and (min-width: 768px) {
    .img-logo {
        display: block;
        padding-bottom: 30px;
        margin-right: 50%;
    }

    .wrapper {
        width: 600px;
        margin: 0 auto;
    }

    .img-info h2 {
        padding: 20px 0px 0px;
    }

    .img-info p {
        padding: 20px 0px 0px;
    }

    .blog h2 {
        padding: 20px 0px 0px;
    }

    .blog h4 {
        padding: 20px 0px 0px;
    }

    .button {
        padding: 0px 0px 0px;
    }
    .button1 {
        padding: 0px 0px 0px;
    }
}
