@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 2px;
    background-color: #282828;
    color: #ebdbb2;
    font-family: monospace;
    font-size: 16px;
}

input:focus {
    outline: none;
}

a:link {
    color: #d3869b;
    background-color: transparent;
    text-decoration: none;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    #portrait-img {
        width: 250px;
    }
}

@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    #portrait-img {
        width: 400px;
    }
}
